.loading-screen-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7f7f7;
}

.loading-spinner {
    position: relative;
    width: 150px;
    height: 150px;

    animation: rotate 2s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.circle {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #ff3366, #ff9933, #33ccff, #66ff33, #ff3366, #ff9933);
    background-size: 600% 600%;
    animation: gradient 10s ease-in-out infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
