.main{
    display: flex;
    position: relative;
}

.leftSide{
    flex: 3;
    background: #daeaf6;
}

.rightSide{
    flex: 9;
    background: #ffffff;
    height: 104vh;
}

::-webkit-scrollbar{
    width: 5px;
    background-color: #ffffff;

}

::-webkit-scrollbar-thumb{
    background: yellowgreen;
    border-radius: 50px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 50px;
}